{{ partial "header.html" . }}
<main role="main" class="bg-white center mw7 mt4 pa3">
	<article class="article" itemscope itemtype="//schema.org/Article">
		<header class="mb4" itemprop="headline">
			<h1 class="f2-ns mb2 fw3 tc" itemprop="name">{{ .Title }}</h1>
			<time class="f5 gray db mt0 mb0 fw1 tc" datetime="{{ .Date.Format "02-01-2006" }}"><span itemprop="datePublished">Đăng ngày {{ .Date.Format "02-01-2006" }}</span></time>
		</header>
		<div class="f4 lh-copy fw1" itemprop="articleBody">{{ .Content }}</div>
	</article>
	{{ partial "author.html" . }}
	{{ partial "disqus.html" . }}
</main>
{{ partial "footer.html" . }}
