{{ define "main" -}}
  <div class="article article-single" itemscope itemtype="//schema.org/Article">
    {{ if not .Params.NoIntro }}
      <h2 itemprop="headline">{{ .Title }}</h2>
      <ul class="no-list p-0 m-0">
      {{ range .Params.tags }}
        <li class="inline-block"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag tag-{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
      </ul>
    {{ end }}

    <div class="{{ if not .Params.NoIntro }}article-body{{ else }}{{ end }}" itemprop="articleBody">
      {{ .Content }}
    </div>
    {{ if not .Params.NoIntro }}
    {{ partial "embed/author.html" . }}
    {{ end }}
  </div>
{{- end }}
