{{ define "main" -}}
  <div class="article article-single" itemscope itemtype="//schema.org/Article">
    {{ if not .Params.NoIntro }}
      <h2 itemprop="headline">{{ .Title }}</h2>
    {{ end }}

    <div class="{{ if .Params.NoIntro }}article-specific{{ else }}article-body{{ end }}" itemprop="articleBody">
      {{ .Content }}
    </div>
    {{ if not .Params.NoIntro }}
      {{ partial "embed/author.html" . }}
      {{ partial "embed/post_related.html" . }}
    {{ end }}
  </div>
{{- end }}
