.programs {
	display: flex;
	flex-wrap: wrap;
}

.programming {
	flex: 0 0 auto;
	flex-basis: 50%;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 48rem) {
	.programming {
		flex-basis: 100%;
	}
}

.programming-content {
	display: flex;
	align-items: center;
}

.programming-icon,
.programming-process {
	display: inline-block;
	vertical-align: middle;
}

.programming-title {
	text-indent: 42px;
	margin-bottom: .25rem;
}

.programming-icon {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

.programming-icon svg {
	filter: grayscale(100%);
}

.programming-process {
	border: 1px solid #ddd;
	height: 1.125rem;
	position: relative;
	width: calc(100% - 60px);
	border-radius: 4px;
}

.programming-percent {
	border: 1px solid transparent;
	margin: 2px;
	display: block;
	height: calc(1.125rem - 6px);
	border-radius: 4px;
}
