.a2hs-prompt {
  display: none;
  width: 100%;
  background-color: #fff;
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.a2hs-prompt:hover {
  box-shadow: 0 0 0 0 0.25rem;
}

.a2hs-prompt a:focus {
  text-decoration: underline;
}

.a2hs-prompt:focus-within {
  box-shadow: 0 0 0 0.25rem;
}

.a2hs-prompt:focus-within a:focus {
  text-decoration: none;
}

.a2hs-prompt h1 {
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  text-align: center;
}

.a2hs-prompt > * + * {
  margin-top: 0.75rem;
}

.a2hs-prompt :last-child {
  margin-top: auto;
  margin-bottom: 0.75rem;
}

.a2hs-btn {
  color: var(--color);
  background-color: var(--background);
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  outline: 0;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  margin-right: 5%;
  border-style: solid;
}
