.article {
  margin-bottom: 1.875rem;

  &.article-single {
    h2 {
      margin-top: 0;
    }
  }

  time {
    font-size: 0.875rem;
  }

  h2 {
    margin-top: 0.675rem;
    margin-bottom: 0.675rem;
  }

  &-body {
    a {
      background-color: transparent;
      background-image: linear-gradient(90deg, rgba(93, 183, 165, .3) 100%, transparent 0);
      background-position: 0 1.2rem;
      background-repeat: repeat-x;
      background-size: 6px 3px;
      transition: background-color 500ms, background-image 300ms;
      display: inline-block;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: rgba(93, 183, 165, .3);
        background-image: none;
      }
    }

    table {
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-collapse: collapse;
      border-spacing: 0;
      padding: 0.5rem 1rem;
      width: 100%;

      th {
        text-transform: uppercase;
      }

      th,
      td {
        padding: 0.5rem 1rem;
        border: 1px solid var(--tableBorder);
        border-style: solid;
        border-width: 1px;
      }
    }

    code:not([data-lang]) {
      font-family: var(--font);
    }

    blockquote {
      font-weight: 700;
      font-size: 1.2rem;
      border-bottom: 3px solid var(--caniuseBorder);
      border-top: 3px solid var(--caniuseBorder);
      padding: .625rem;
      margin: 1.625rem 0 1.625rem 3rem;
      text-align: center;
    }
  }
}

canvas {
	user-select: none;
	touch-action: none;
	content-zooming: none;
	cursor: pointer;
}
