*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-merriweather: 'merriweather', serif;
  --font-fira-code: 'Fira Code', monospace;
  --color-green: #6cbe96;
}

body {
  margin: 0;
  font-family: var(--font-montserrat);
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

.bg-green {
  background-color: var(--color-green);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-merriweather {
  font-family: var(--font-merriweather);
}

a {
  color: #222;
  text-decoration-line: none;
}

a:hover,
a:focus {
  /* color: rgba(108, 190, 150, 0.8); */
  text-decoration: none;
}

p {
  margin: 0 0 1rem 0;
}

.c-logo,
.c-logo:hover,
.c-logo:focus,
.c-nav a {
  color: #222;
}

.c-logo:hover,
.c-logo:focus {
  text-decoration: none;
}

.nuxt-content-highlight pre,
.nuxt-content-highlight code {
  font-family: var(--font-fira-code);
  font-size: 0.875rem;
  tab-size: 2;
}

code {
  font-family: var(--font-fira-code);
}

article {
  margin-bottom: 2rem;
}

article h3,
article h4,
article h5 {
  margin: 0 0 1rem 0;
}

article h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}

article h4,
article h5 {
  font-size: 1.25rem;
}

article img {
  max-width: 100%;
}

article a:hover,
article a:focus {
  text-decoration: underline;
}

article table {
  border: 1px solid #718096;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

article table td,
article table th {
  padding: 0.5rem 1rem;
  border: 1px solid #718096;
}

article table code {
  white-space: nowrap;
}

article img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.article-single header,
.article-single h2,
.article-single h3,
.article-single h4,
.article-single h5,
.article-single h6,
.article-single p,
.article-single ul,
.article-single ol,
.article-single pre {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.article-single header,
.article-single h2,
.article-single h3,
.article-single h4,
.article-single h5,
.article-single h6,
.article-single p,
.article-single ul,
.article-single ol,
.article-single pre {
  max-width: 42rem;
}

.article-single pre,
.article-single table {
  max-width: 48rem;
}

.article-single ul,
.article-single ol {
  text-indent: 2.25rem;
}

.article-single ul p,
.article-single ol p {
  max-width: auto;
  padding: 0;
  margin: 0 0 1rem 0;
}

.article-single table {
  margin: 1rem auto;
}

.hljs {
  background-color: #f7f7f7;
  overflow-x: auto;
  padding: 1rem;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}

