<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ .Title }}</title>
	<meta name="description" content="Blog về HTML/HTML5, CSS/CSS3, JavaScript">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-128.png" sizes="128x128">
	<meta name="application-name" content="Blog về HTML/HTML5, CSS/CSS3, JavaScript"/>
	<meta name="theme-color" content="#000000">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/assets/images/favicon/mstile-144x144.png">
	<meta name="msapplication-square70x70logo" content="/assets/images/favicon/mstile-70x70.png">
	<meta name="msapplication-square150x150logo" content="/assets/images/favicon/mstile-150x150.png">
	<meta name="msapplication-wide310x150logo" content="/assets/images/favicon/mstile-310x150.png">
	<meta name="msapplication-square310x310logo" content="/assets/images/favicon/mstile-310x310.png">
	<link rel="manifest" href="/assets/images/favicon/manifest.json">
	<link rel="stylesheet" href="/assets/css/{{ index .Site.Data.css.hash "app.css" }}">
	<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
</head>
<body>
	<div id="app" class="bg-near-white">
		<header role="banner" class="bb b--black-10 black-70 bg-green">
			<div class="db dt-l w-100 mw7 pt3 pb3 center">
				<div class="db dtc-l v-mid w-100 w-25-l tc tl-l mb2 mb0-l">
					<a href="/" class="link dim white f4">DT</a>
				</div>
				{{ partial "nav.html" . }}
			</div>
		</header>
