{{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
  {{ $.Scratch.Set "has_related" true }}
{{ end }}
{{ if $.Scratch.Get "has_related" }}
  <aside class="article-body article-related mt-40">
    <h3>Bài viết cùng chủ đề</h3>
    <ul>
      {{ $num_to_show := .Site.Params.related_content_limit | default 5 }}
      {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
    </ul>
  </aside>
{{ end }}
